<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>ENACTUS UVG</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div class="container">
    <div class = "text-right"> <strong><%= user.local.email %></strong> </div>
    <div class = "text-right"> <a href="/logout" class="btn">Cerrar sesión</a></div>
    <div class="page-header text-center">
        <h1></span> ENACTUS DATA BASE </h1>
    </div>
</div>


    <div class="col-sm-6 col-sm-offset-3">
      <h3> Crear Minuta </h3> <br>
      <form action="/dashboard" method="post">
          <div class="form-group">
              <label>Fecha</label>
              <input type="text" class="form-control" name="fecha">
          </div>
          <div class="form-group">
              <label>Duración</label>
              <select class="form-control" name="duracion">
                <option value="0.15">15 minutos</option>
                <option value="0.30">30 minutos</option>
                <option value="0.45">45 minutos</option>
                <option value="1">1 hora</option>
                <option value="2">2 horas</option>
              </select>
          </div>
          <div class="form-group">
              <label>Motivo</label>
              <input height="480px" type="textarea" class="form-control" name="motivo">
          </div>
          <button type="submit" class="btn btn-warning btn-lg">Enviar Minuta</button>
      </form>
    </div>

</body>
</html>
