<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>ENACTUS UVG</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center" style="background-color:white">
        <img src = http://www.enactusuvg.org/sites/default/files/Logo%20Enactus%20UVG.png></img>

        <h4>Ingreso de Minutas y Salidas</h4>

        <a href="/login" class="btn btn-default"><span class="fa "></span> Iniciar Sesion</a>
        <a href="/signup" class="btn btn-default"><span class="fa "></span> Registrarse</a>
    </div>

</div>
</body>
</html>
